.grid { display: grid; grid-template-columns: auto auto auto auto auto; gap: 30px; margin-top: 100px;}

.yacht_img {height: 350px; width: 350px;}

.button {
    position: relative;
    display: block;
    margin-left: 810px;
    margin-right: 810px;
    margin-top: 100px;
}
.button .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.button:hover .img-top {
    display: inline;
}